$font-family-base: 'Frutiger LT Std 47 Light Condensed', sans-serif;

$navbar-background-color: #333333;
$navbar-background-color-active: #cc3333;

$footer-background-color: #333333;

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #cc3333;

$font-size-base:	18px !default;

